<div class="row">
  <div class="col-sm-4 offset-sm-4">
    <div class="card card-body">

      <form (submit)="edit ? updateNota() : submitNota()">

        <div class="form-group">
          <input type="text" name="nombre" [(ngModel)]="nota.nombre" class="form-control" placeholder="Su Nombre"
            autofocus>
        </div>
        <div class="form-group">
          <textarea type="text" name="texto" [(ngModel)]="nota.texto" class="form-control" placeholder="Texto a Publicar"> </textarea>
        </div>
        <div class="form-group" >
        Selecione como favorita
            <input type="checkbox" name="favorita" [(ngModel)]="nota.favorita" class="form-control"   />
       
        </div>
        <button type="submit" class="btn btn-primary btn-block">
          Save
        </button>
      </form>
    </div>
  </div>
</div>