<div class="">
<button (click)=" notasFav()  " >solo favoritos</button>

</div>



<div *ngFor="let nota of notas" class="card card-body mb-2">
  <div class="row">
    <div class="col-md-8">
      <ul>
        <li>
          id: {{nota._id}}
        </li>
        <li>
          nombre: {{nota.nombre}}
        </li>
        <li>
          texto: {{nota.texto}}
        </li>
        <li>
          favorita: 
          <input type="checkbox" name="favorita" [(ngModel)]="nota.favorita" class="form-control"   />

        </li>
      </ul>
      <button (click)="deleteNota(nota._id)" class="btn btn-danger">
        Eliminar
      </button>
      <button [routerLink]="['/api-notas/update', nota._id]" class="btn btn-secondary">
        Edit
      </button>
    </div>
  </div>
</div>