<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Muro McFLy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/api-notas" routerLinkActive="active">Notas</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/api-notas/crear" routerLinkActive="active"> Crear</a>
      </li>
    </ul>
  </div>
</nav>